*{
    font-family: 'Source Sans Pro', sans-serif;
}
table { 
    width: 100% !important; 
    border-collapse: collapse!important; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee!important; 
}
th { 
    background: #cfd8dc  !important; 
    color: #546e7a !important;
    font-weight: bold!important;
    font-size: 15px;
    padding-left: 2% !important;
}
.texto{
    font-size: 14px !important;
    
}
@media (max-width: 900px){
    .id{
        font-size: 0px !important;
    }
    .ajuste{
        padding: 10% !important;
    }
}